@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.formError {
  color: #ec867d;
  margin-top: 0.4rem;
}
